---
- name: Configure Load Balancer on Bastion
  hosts: bastion.ru-central1.internal
  become: yes

  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Configure load balancer
      copy:
        content: |
          upstream backend {
            server 192.168.20.13:80;  # web1
            server 192.168.30.25:80;  # web2
          }

          server {
            listen 80;
            server_name _;
            
            location / {
              proxy_pass http://backend;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            }
          }
        dest: /etc/nginx/sites-available/default
      notify: restart nginx

    - name: Enable and start nginx
      systemd:
        name: nginx
        enabled: yes
        state: started

  handlers:
    - name: restart nginx
      systemd:
        name: nginx
        state: restarted
