---
- name: Configure ELK stack with Docker
  hosts: logging
  become: yes

  tasks:
    - name: Install Docker
      apt:
        name:
          - docker.io
          - docker-compose
        state: present

    - name: Start Elasticsearch container
      docker_container:
        name: elasticsearch
        image: elasticsearch:7.17.13
        state: started
        restart_policy: always
        env:
          discovery.type: single-node
          "ES_JAVA_OPTS": "-Xms512m -Xmx512m"
        ports:
          - "9200:9200"
        volumes:
          - es_data:/usr/share/elasticsearch/data
      when: "'elasticsearch' in inventory_hostname"

    - name: Start Kibana container
      docker_container:
        name: kibana
        image: kibana:7.17.13
        state: started
        restart_policy: always
        env:
          ELASTICSEARCH_HOSTS: "http://192.168.20.11:9200"
        ports:
          - "5601:5601"
      when: "'kibana' in inventory_hostname"
