---
- name: Configure ELK stack
  hosts: logging
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install Java
      apt:
        name: openjdk-11-jdk
        state: present

    - block:
        - name: Install Elasticsearch
          apt:
            name: elasticsearch
            state: present

        - name: Configure Elasticsearch
          template:
            src: templates/elasticsearch.yml.j2
            dest: /etc/elasticsearch/elasticsearch.yml
          notify: restart elasticsearch

        - name: Enable and start Elasticsearch
          systemd:
            name: elasticsearch
            enabled: yes
            state: started

      when: "'elasticsearch' in inventory_hostname"

    - block:
        - name: Install Kibana
          apt:
            name: kibana
            state: present

        - name: Configure Kibana
          template:
            src: templates/kibana.yml.j2
            dest: /etc/kibana/kibana.yml
          notify: restart kibana

        - name: Enable and start Kibana
          systemd:
            name: kibana
            enabled: yes
            state: started

      when: "'kibana' in inventory_hostname"

  handlers:
    - name: restart elasticsearch
      systemd:
        name: elasticsearch
        state: restarted

    - name: restart kibana
      systemd:
        name: kibana
        state: restarted
