all:
  vars:
    ansible_user: ubuntu
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    ansible_ssh_common_args: '-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'

  children:
    bastion:
      hosts:
        bastion.ru-central1.internal:
          ansible_host: 158.160.48.139
    
    web_servers:
      hosts:
        web1.ru-central1.internal:
          ansible_host: 192.168.20.13
        web2.ru-central1.internal:
          ansible_host: 192.168.30.25
      vars:
        ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q ubuntu@158.160.48.139 -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"'
    
    monitoring:
      hosts:
        zabbix.ru-central1.internal:
          ansible_host: 84.252.131.37
    
    logging:
      hosts:
        elasticsearch.ru-central1.internal:
          ansible_host: 192.168.20.11  # внутренний IP из yc compute instance list
        kibana.ru-central1.internal:
          ansible_host: 89.169.145.79  # новый публичный IP
      vars:
        ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q ubuntu@158.160.48.139 -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"'
